@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
    font-family: 'Nosifer', sans-serif;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(126, 177, 228);
    text-align: center;
    box-shadow: 10px 10px rgb(92, 93, 93);
}  
  
.edit-mode {
  color:#ccc;
}

  ul {
    list-style-type: none;  
}

  .addBtn {   
      margin-left: auto;
      margin-right: auto;   
      margin-bottom: 30px; 
      background-color: #78f582;
      width: 50%;
      height: 50px;
      border-radius: 10px;
      box-shadow: 5px 5px rgb(92, 93, 93);
  }

  .addBtn:hover {
    background-color: #1ece2d;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(92, 93, 93);
  }

 